package components

templ HomeButtons(newTarget string, joinTarget string) {
	<a
		hx-post="/game/new"
		hx-swap="outerHTML"
		hx-target={ newTarget }
		hx-push-url="true"
		class="btn btn-primary"
	>
		New Game
	</a>
	<a
		hx-get="/game/join"
		hx-swap="outerHTML"
		hx-target={ joinTarget }
		hx-push-url="true"
		class="btn btn-primary"
	>
		Join Game
	</a>
}
