package message

templ Index() {
	<div id="chat_room" hx-swap-oob="beforeend">
		<li id="message" class="flex  my-2">
			<h1 class="text-base font-bold mr-2 text-red-500">Name Submitted </h1>
		</li>
	</div>
}
