package home

import (
	"github.com/garrettladley/the_name_game/views/layouts"
)

templ Index() {
	@layouts.Base(true) {
		<div class="flex flex-col items-center"></div>
		<button
			hx-post="/new_game"
			hx-trigger="click"
			hx-swap="outerHTML"
		>
			New Game!
		</button>
	}
}
