package home

import (
	"github.com/garrettladley/the_name_game/views/layouts"
	"github.com/garrettladley/the_name_game/views/components"
)

templ Index() {
	@layouts.Page("home") {
		<h1
			class="text-4xl font-bold mb-4"
		>
			Welcome to The Name Game
		</h1>
		@components.HomeButtons("#home")
	}
}
